* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sharable classes */
.btn {
  background-color: rgba(70, 145, 101, 1);
  color: #ffffff;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
/* header start */
header {
  padding: 15px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar-menu li {
  list-style: none;
}
.navbar-menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 600px;
}
nav img {
  width: 120px;
  height: 50px;
}

/* hero section start */
#hero-section {
  background: url("./assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  text-align: center;
  color: white;
  padding: 150px 0;
}
.early-access-parent {
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 30px;
}
.early-access {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: black;
}
.early-access-icon {
  height: 16px;
  width: 16px;
  background: radial-gradient(rgba(70, 145, 101, 1), #ececec91, rgb(90, 183, 129), #ffffffa4,rgb(88, 158, 117));
  border-radius: 50%;
  display: inline-block;
}
#hero-section h2 {
  margin: 20px 0;
  font-size: 72px;
  font-weight: bold;
}
#hero-section .text-color {
  color: #30b868;
}
#hero-section p {
  font-size: 20px;
  line-height: 35px;
}
#hero-section .button-div-parent {
  margin-top: 30px;
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
}
#hero-section .btn-hero {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 8px;
  margin: 32px 0 0 16px;
  font-size: 16px;
}
#hero-section .btn-hero i {
  color: transparent;
  -webkit-text-stroke: 2px white;
}
/* Card section start */
#Card-section {
  background-color: #fbfbfb;
  text-align: center;
    padding-bottom: 20px;
}
.section-card h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 50px 0 20px 0;
}
.section-card p {
  color: rgba(98, 115, 130, 1);
  margin-bottom: 50px;
}
.card-container {
  display: flex;
  gap: 24px;

}
.card {
  background-color: white;
  padding: 40px 24px 0px 24px;
  text-align: center;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.06);
  width: 322px;
  height: 220px;
  border-radius: 5px;
}
.card img {
  background: rgba(249, 85, 85, 1);
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card h3 {
  line-height: 29px;
  color: rgba(0, 25, 49, 1);
  margin: 16px 0;
  font-size: 24px;
}
.card p {
  color: rgba(98, 115, 130, 1);
}
/* knowledge section start  */
#Knowledge-section {
  display: flex;
  align-items: center;
  gap: 100px;

  margin: 120px auto;
}
/* .left-Knowledge{
    border: 2px solid blue;
   
 } */
#Knowledge-section .left-Knowledge img {
  width: 450px;
  height: 500px;
  height: 420px;
  border-radius: 10px;
}
#Knowledge-section .right-knowledge h4 {
  color: rgba(70, 145, 101, 1);
  text-transform: uppercase;
}
#Knowledge-section .right-knowledge h4 {
  color: rgba(70, 145, 101, 1);
  text-transform: uppercase;
}
#Knowledge-section .right-knowledge h2 {
  color: black;
  font-size: 50px;
  margin: 10px 0;
}
#Knowledge-section .right-knowledge .pera {
  color: rgba(98, 115, 130, 1);
  margin-bottom: 10px;

  line-height: 20px;
  text-align: justify;
}
#Knowledge-section .right-knowledge .pera2 {
  margin: 20px 0;
}
#Knowledge-section .right-knowledge .pera2 p {
  color: black;
  margin-bottom: 10px;
}
#Knowledge-section .right-knowledge .pera2 p i {
  color: white;
  font-size: 10px;
  background-color: #30b868;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* early access section start  */
#early-access-section .container {
  background-color: rgba(247, 246, 242, 1);
  text-align: center;
  padding: 80px 0;
  border-radius: 5px;
}
#early-access-section .container h1 {
  font-size: 40px;
  color: rgba(0, 25, 49, 1);
}
#early-access-section .container p {
  color: rgba(98, 115, 130, 1);
  margin: 10px 0 20px 0;
  line-height: 25px;
}
#early-access-section .container .btn {
  box-shadow: 5px 5px 5px 0 rgb(168, 168, 168);
}
#early-access-section .container .early-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: rgba(98, 115, 130, 1);
}
#early-access-section .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgba(98, 115, 130, 1);
  margin-top: 20px;
}
#early-access-section .container ul .special-li {
  list-style: none;
  margin-right: 10px;
}

/* footer section start */
footer {
  background-color: rgba(0, 25, 49, 1);
  color: white;
  margin-top: 120px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0 80px 0;
}
footer .footer-container .footer-div h2 {
  font-size: 20px;
  font-weight: 500;
}
footer .footer-container ul {
  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}
footer .footer-container ul li {
  list-style: none;
  background-color: rgba(255, 255, 255, 1);
  padding: 3px;
  margin-right: 10px;
  border-radius: 50%;
}
footer .footer-container ul li a {
  text-decoration: none;
}
footer hr {
  border: 1px solid rgba(88, 123, 180, 0.379);
}
footer p {
  color: rgba(250, 250, 250, 1);
  text-align: center;
  padding: 30px 0 30px 0;
}
